@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import url(https://db.onlinewebfonts.com/c/a2029ef7cc1a92ac4469e7891b9195f6?family=Merge);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 60vh;
  background: url(https://jollibee.com.vn/media/wysiwyg/jollibee-store-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header .center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.circle {
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.text {
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.head_text {
  font-family: "Merge";
  font-size: 2.8125rem;
  margin-bottom: 2.5rem;
}

.sub_text {
  font-family: "Roboto";
  padding: 2rem;
}

.layout {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;

  @media (max-width: 830px) { 
    /* flex-direction: column; */
    margin-top: 2.5rem;
  }
  @media (320px <= width <= 600px )  {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.none {
  display: none;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.t4 {
  max-width: 25rem;
  /* border: 1px solid black; */
  background-color: #F4F4F4;
  border-radius: 7px;
  padding: 1rem;
}

.news_pic1 {
  width: 100%;
  height: auto;
}

.blank {
  width: 25rem;
  background-color: white;
  border: 0 white;
}

h3 {
  margin: 1.25rem 0 0.75rem 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1em; */
  text-align: center;
  margin-bottom: 2rem;
}

.btn_text {
  /* line-height: 1.4; */
  padding: 1rem 1rem;
  /* text-align: center; */
  text-decoration: none;
  color: white;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  /* line-height: 45px; */
  /* margin: 0 0 2em; */
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;

  &:hover {
    text-decoration: none;
  }
}

.btn-4 {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  /* border-color: aqua; */
  background-color: #CE181F;

  span {
    z-index: 20;
  }

  &:after {
    background: white;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
  }
}

.btn-4:hover {

  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

a {
  text-decoration: none;
  color: black;
}

.top_content {
  height: 50vh;
  background: url(https://jollibee.com.vn/media/wysiwyg/jollibee-store-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.top_content_head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 30vh; */
}

/* .top_content_half {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.hight{
  height: -60vh;
}
.info {
  padding: 1rem 5rem;
  border: 1px solid white;
  background-color: #e5e90f;
  margin-bottom: 0;
}

.border {
  border: 1px solid black;
  background-color: #CE181F;
  margin: 0 7.4rem 0 7.4rem;
  padding: 3.5rem 1.5rem;

  display: flex;
}
.left_img{
  width: 30%;
  height: auto;
  margin-right: 1.5rem;
}
.main_info{
  line-height: 1.125rem;
  font-family: "Roboto";
  margin: 2rem 0;
}
.info_border{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ifb{
  border: 1px solid black;
  background-color: aqua;
  padding: 0.5rem;
}
.info_img{
  width: 100%;
  height: auto;
} */
.bottom_content {
  margin-top: -1.4rem;
  display: flex;
  justify-content: center;
}

.bottom_title {
  text-align: center;
  background-color: #eec614;
  padding: 1rem;
}

.bottom_content_text {
  max-width: 40rem;
  margin: 1.5rem 0;
  line-height: 1.25rem;
  font-family: "Roboto";

}

.tr2 {
  background-color: #FFDE94;

}

.td2 {
  padding: 1rem;
}

.left_td2{
}